@charset "utf-8";

:root {
  /* layout */
  --content-width: 75rem;

  /* typo */
  --font-base: "Pretendard";

  /* color */
  --main-white: #fff;
  --main-black: #000;
  --main-gray: #666;
  --main-dark-gray: #333;
  --main-brown: #5a371e;
  --main-pink: #ff8aab;
  --main-yellow: #fffe8d;

  --chocopop_brown01: #5a371e;
  --chocopop_brown02: #331d0a;
  --chocopop_pink03: #ff8296;

  /* z-index */
  --z-base: 0;
  --z-deco01: 1;
  --z-deco02: -1;
  --z-cont: 10;
  --z-top: 100;

  /* transition */
  --transition-normal: all .3s ease;
  }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
  border: 0;
}

/* icon */
.ico_arrow {
  position: relative;
  padding-right: 3.75rem;
  }
.ico_arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2.6875rem;
  height: 1.5rem;
  background: url(../img/img_arrow.png) center top / contain no-repeat;
  transform: translateY(-50%);
  }


.navi [class^="ico"] {
  position: relative;
  padding-right: 1.5625rem;
  }
.ico_fire::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  background: url(../img/ico_fire.png) center top / contain no-repeat;
  }
.ico_present::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  background: url(../img/ico_present.png) center top / contain no-repeat;
  }

/* point color */
.fc_yellow {color: #f0a000;}
.fc_pink {color: #eb5365;}
.fc_purple {color: #6873cc;}
.fc_green {color: #2bab7b;}

.highlight_pink {color: var(--chocopop_pink03);}
.highlight_yellow {color: #fff764;}