@charset "utf-8";

html {
  font-size: 16px;
  }
@media (max-width: 1920px) {
  html {
    font-size: calc(100vw / 1920 * 16);
    }
  }
.wrap {
  overflow-x: clip;
  }
.top-banner {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  max-height: 4.375rem;
  font-weight: bold;
  color: white;
  background-color: var(--main-pink);
  }
.top-banner a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: var(--content-width);
  margin: 0 auto;
  padding: .875rem 0;
  font-family: "Jalnan2";
  }
.top-banner a .tag {
  position: relative;
  height: 2.625rem;
  padding: .5625rem 1.25rem .5625rem 2.5rem;
  font-size: 1.5rem;
  color: var(--main-pink);
  background: var(--main-yellow);
  border-radius: 2.5rem;
  }
.top-banner a .tag::before {
  content: "";
  display: block;
  position: absolute;
  top: -1.25rem;
  left: -1.5rem;
  width: 4.5rem;
  height: 4rem;
  background: url("../img/img_siren.png") no-repeat center / cover;
  animation: siren-swing 1s infinite ease-in-out;

  transform-origin: bottom center;
  }
@keyframes siren-swing {
  0% {
    transform: rotate(0deg);
    }
  25% {
    transform: rotate(-15deg);
    }
  75% {
    transform: rotate(15deg);
    }
  100% {
    transform: rotate(0deg);
    }
  }

.top-banner a .banner-text {
  font-size: 1.75rem;
  }
.top-banner a .highlight {
  color: var(--main-yellow);
  }
.navi {
  position: fixed;
  top: 16.5rem;
  right: 5.75rem;
  z-index: 99;
  }
.navi::after {
  content: "";
  display: block;
  position: absolute;
  top: -3.5rem;
  left: 1rem;
  z-index: -1;
  width: 6.625rem;
  height: 4.625rem;
  background: url(../img/ch_01.png) center top / contain no-repeat;
  }
.navi ul {
  background: var(--main-white);
  border-radius: 1.25rem;
  }
.navi ul li img {width: 3rem;}
.navi ul li a {
  padding: 1.375rem;
  letter-spacing: -2%;
  text-align: center;
  border: .125rem solid #fff;
  }
.navi ul li a:hover {
  background: #eee;
  }
.navi ul li a.active {
  color: var(--main-white);
  background: #ff9fba;
  border: .125rem solid #ff8aab;
  }

.navi ul li:first-child a {
  border-radius: 1.25rem 1.25rem 0 0;
  }
.navi ul li:last-child button {
  width: 100%;
  padding: .625rem 0;
  background: var(--main-brown);
  border: .125rem solid var(--main-brown);
  border-radius: 0 0 1.25rem 1.25rem;
  }
.navi ul li:last-child button.top_btn > img{
  display: block;
  width: 3rem;
  height: auto;
  margin: 0 auto;
  }

main {
  padding-top: 4.375rem;
  }

.content {
  width: var(--content-width);
  margin: 0 auto;
  }

section.main_top {
  position: relative;
  }
section.main_top .content img.title {
  position: absolute;
  top: 4.625rem;
  left: 36.875rem;
  width: 45.375rem;
  height: auto;
  }

header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  }
header .content {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  }
header .header_right {
  display: flex;
  align-items: center;
  }
header .header_right .btn_login {
  margin-right: 1.5rem;
  padding: .625rem 1.25rem;
  font-size: 1rem;
  font-weight: 900;
  color: #000;
  border: .125rem solid #000;
  border-radius: 6.25rem;
  }
header .content .logo_choco { width: 4.25rem; height: auto;}
header .content .logo_miraen { width: 6rem; }
.event_banner {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  }
.event_banner .event_banner_text {
  margin-right: 3.0625rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-white);
  }
.event_banner::before,
.event_banner::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  z-index: -2;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(-50%);
  }
.event_banner::before {
  bottom: -1.75rem;
  left: 46%;
  width: 30.75rem;
  height: 13.625rem;
  background-image: url(../img/img_flower.png);
  }
.event_banner::after {
  bottom: -3.125rem;
  width: 38.375rem;
  height: 35rem;
  background-image: url(../img/ch.gif);
  }

img.img_firstserve {
  position: absolute;
  top: -2.5rem;
  left: 2.8125rem;
  width: 14.0625rem;
  height: auto;
  }

.event_title {
  display: flex;
  align-items: center;
  padding: .9375rem 0 .9375rem 18.9375rem;
  background: var(--chocopop_brown01);
  border: .0625rem solid var(--chocopop_brown02);
  border-radius: 1.875rem 1.875rem 0 0;
  }
.event_info {
  position: absolute;
  bottom: -11.25rem;
  z-index: -1;
  width: var(--content-width);
  height: 15.1875rem;
  background: url(../img/img_paper.png) center top / contain no-repeat;
  }
.event_info ul {
  display: flex;
  gap: 10rem;
  /* margin: 4.5rem 0 0 4.6875rem; */
  padding: 0 0 0 4.6875rem;
  }
.event_info li {
  text-align: center;
  color: #333;
  }
.event_info li:nth-child(1) {margin-top: 4.0625rem;}
.event_info li:nth-child(2) {margin-top: 3.4375rem;}
.event_info li:nth-child(3) {margin-top: 2.875rem;}
.event_info li h3,
.event_info li p {
  line-height: 150%;
  }
.event_info li h3 {
  margin-bottom: .375rem;
  font-size: 2rem;
  }
.event_info li p {
  font-size: 1.375rem;
  }
.event_info .event_desc {
  margin-top: 3.75rem;
  font-size: 1.25rem;
  text-align: center;
  }

.event_banner_link {
  display: inline-flex;
  align-items: center;
  padding: .5rem 1.5rem .5rem 1.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-white);
  background: var(--chocopop_pink03);
  border: .1875rem solid var(--main-white);
  border-radius: 3.125rem;
  }

section .content_title {
  text-align: center;
  }
section .content_title .content_desc {
  margin-top: .625rem;
  font-size: 1.875rem;
  }

section .animate_box {
  position: relative;
  z-index: 0;
  width: 64.375rem;
  margin: 4.375rem auto 0;
  }
section .animate_box::before {
  content: "";
  display: block;
  position: absolute;
  top: -4.25rem;
  left: 50%;
  z-index: -1;
  width: 49.6875rem;
  height: 34.125rem;
  background: url(../img/img_newspaper_bg.png) center top / contain no-repeat;
  transform: translateX(-50%);
  }
section .animate_box .img_card_01 > img { width: 32.5rem; }
section .animate_box .img_card_02 > img {
  width: 34.375rem;
  margin-top: -7.5rem;
  }
section .animate_box .img_card_03 > img {
  width: 32.5rem;
  margin-top: -7.5rem;
  margin-right: 4.375rem;
  }
section .animate_box > div:nth-child(odd) { text-align: right; }
section .animate_box > div:nth-child(even) { text-align: left; }

section.content_survey {
  padding: 18.625rem 0 8rem;
  background-color: #b0eeaf;
  }
section.content_survey .img_bubble {
  width: 16.4375rem;
  height: auto;
  margin-bottom: .375rem;
  }
section.content_survey .img_title02 {
  width: 69.75rem;
  height: auto;
  }
section.content_survey .survey_box {
  position: relative;
  margin-top: 1.875rem;
  padding: 5rem 3.75rem;
  background: var(--main-white);
  border: .0625rem solid #333;
  }

.survey_box::before {
  content: "";
  display: block;
  position: absolute;
  top: -11.25rem;
  right: 1.25rem;
  z-index: 1;
  width: 19.375rem;
  height: 15.4375rem;
  background: url(../img/ch_02.png) center top / contain no-repeat;
  }
.survey_box .survey_group {
  margin-bottom: 2.75rem;
  padding-bottom: 2.75rem;

  border-bottom: .0625rem solid #9e9e9e;
  }
.survey_box .survey_group:last-child {
  margin-bottom: 0;
  padding-bottom: 0;

  border-bottom: none;
  }
.survey_box .survey_group .survey_title {
  margin-bottom: 2rem;
  font-family: "GmarketSans";
  font-size: 2rem;
  font-weight: 700;
  }
.survey_box .survey_desc {
  font-family: "pretendard";
  font-size: 1.25rem;
  font-weight: 400;
  }
.survey_box .survey_desc02 {
  margin-top: 1rem;
  font-family: "pretendard";
  font-size: 1.5rem;
  font-weight: 400;
  }
.survey_box .survey_group .checkbox_list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 52.5rem;
  }
.survey_box .survey_group .checkbox_list .checkbox_item input[type="checkbox"],
.survey_box .radio_list .radio_item input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  overflow: hidden;

  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  }

.survey_box .survey_group .checkbox_list .checkbox_item {
  display: inline-block;
  cursor: pointer;
  }

.survey_box .checkbox_list .checkbox_item span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12.375rem;
  padding: .625rem 0;
  font-size: 1.5rem;
  color: #333;
  background-color: #fff;
  border: .0625rem solid #666;
  border-radius: 1.5rem;
  transition: all .2s ease;
  }
.survey_box .checkbox_list .checkbox_item input[type="checkbox"]:checked + span {
  font-weight: bold;
  color: #02a39f;
  border-color: #02a39f;
  }

.survey_box .radio_list {
  display: flex;
  }
.survey_box .radio_list .radio_item {
  position: relative;
  margin-right: 1.5rem;
  padding-left: 2rem;
  cursor: pointer;
  }
.survey_box .radio_list .radio_item span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: .0625rem solid #666;
  border-radius: 50%;
  box-sizing: border-box;
}

.survey_box .radio_list .radio_item input[type="radio"]:checked + span::before {
  border: none;
  background: url(../img/ico_checkbox.png) center center / contain no-repeat;
}
.survey_box .radio_list .radio_item span {
  font-size: 1.5rem;
  color: #333;
  }

.survey_box .text_item input[type="url"] {
  width: 30rem;
  height: 3.75rem;
  padding: 1rem 1.25rem 1rem 1.25rem;
  font-size: 1.5rem;
  border: .0625rem solid #02a39f;

  }
input::placeholder,
textarea::placeholder {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #c3c3c3;
  opacity: 1;
  }
.survey_box .textarea_wrap {
  position: relative;
  }
.char_count {
  position: absolute;
  right: 1.25rem;
  bottom: .75rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: #555;
  }
.survey_box .textarea_wrap textarea {
  width: 100%;
  height: 13.5625rem;
  padding: 1rem 1.25rem 1rem 1.25rem;
  font-size: 1.5rem;
  border: .0625rem solid #02a39f;
  }
.btn_submit {
  width: 35.125rem;
  margin-top: 3.125rem;
  padding: 1.3125rem 0;
  font-family: "GmarketSans";
  font-size: 3.125rem;
  font-weight: 700;
  text-align: center;
  color: #333;
  background: #fded7c;
  border: .0625rem solid #333;
  border-radius: 6.25rem;
  }

.content_video {
  width: 100%;
  padding: 4.8125rem 0 6.25rem 0;
  text-align: center;
  background: #fdd7e3;
  }

.content_video .img_taegeukgi {
  width: 9.75rem;
  height: auto;
  }
.content_video .img_title03 {
  width: 62.625rem;
  }
.content_video h2 + p {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--main-brown);
  }
.content_video .video_wrapper {
  position: relative;
  z-index: 1;
  padding: 6.125rem 0 6.4375rem 0;
  }

.content_video .video_wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: var(--content-width);
  height: 58.75rem;
  background: url(../img/img_video_bg.png) center top / contain no-repeat;
  }
.content_video .video_wrapper video{
  width: 68.75rem;
  border-radius: 1.75rem;
  }

.swiper_wrap {
  position: relative;
  width: 100%;
  }
.contentSlide {
  position: relative;
  overflow: hidden;
  }
.content_slide {
  padding: 6.25rem 0 8.75rem 0;
  text-align: center;
  background: url(../img/bg_content_04.png) center top / cover no-repeat;
  }

.content_slide .logo_choco02 {
  width: 10.875rem;
  }

.content_slide .img_title04 {
  width: 47.5rem;
  margin-top: .75rem;
  }
.content_slide .swiper_title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10rem;
  left: 50%;
  z-index: 10;
  width: 55.875rem;
  height: 4.875rem;
  font-size: 1.75rem;
  background: url("../img/bg_slide_title.png") no-repeat center / contain;
  transform: translateX(-50%);
  }
.content_slide .card_wrap {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 12.375rem;
  padding: .625rem;
  background: #fffcf6;
  border-radius: 1.25rem;
  }
.content_slide .card_wrap::before,
  .content_slide .card_wrap::after {
  content: "";
  display: block;
  position: absolute;
  top: -6.875rem;
  z-index: 10;
  width: 2.4375rem;
  height: 8rem;
  background: url(../img/img_rope.png) no-repeat center / contain;
  }

.content_slide .card_wrap::before { left: 3rem; }
.content_slide .card_wrap::after { right: 3rem; }


.content_slide .card_wrap .sub_title {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--main-brown);
  }

.content_slide .card_wrap .sub_title span {
  position: relative;
  padding: 0 1.5rem;
  }
.content_slide .card_wrap .sub_title span::before,
  .content_slide .card_wrap .sub_title span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: .875rem;
  height: 1.1875rem;
  background: url(../img/ico_star.png) center top / cover no-repeat;
  transform: translateY(-50%);
  }

.content_slide .card_wrap .sub_title span::before { left: 0; }
.content_slide .card_wrap .sub_title span::after { right: 0; }

.content_slide .card_inner {
  position: relative;
  width: 100%;
  min-height: 58.125rem;
  padding: 4.625rem 6.25rem 3.25rem;
  background: #fff;
  border: .0625rem dashed #d7cdbc;
  }
.content_slide .card_inner .card_box + .card_box {
  margin-top: 1.875rem;
  padding-top: 1.875rem;

  border-top: .0625rem solid #d8cebe;
  }

.content_slide .card_inner .card_box .card_list {
  display: flex;
  justify-content: center;
  gap: 2.375rem;
  margin-top: 1.625rem;
  }

.content_slide .card_inner .card_box .card_list .card_item img {
  width: 19.375rem;
  }

.content_slide .card_inner .card_box .card_text {
  margin-top: 1.25rem;
  }

.content_slide .card_inner .card_box .card_text .card_title {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--chocopop_brown01);
  }

.content_slide .card_inner .card_box .card_text .card_title + .card_desc {
  margin-top: .25rem;
  }

.content_slide .card_inner .card_box .card_text .card_desc {
  font-size: 1.125rem;
  line-height: 1.4;
  color: #6f5745;
  }
.content_slide .card_wrap .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  position: absolute;
  left: 0;
  z-index: 10;
  }

.content_slide .swiper-pagination::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1.25rem;
  background: url(../img/bg_tab.png) no-repeat center / contain;
  }

.swiper-pagination-bullets {
  top: 5.3125rem !important;
  height: 4.25rem !important;
  }

.swiper-pagination-bullet {
  position: relative;
  width: 11.625rem;
  height: auto;
  padding: .5rem 0;
  font-size: 2rem;
  color: #888;
  background: none;
  opacity: 1;
  cursor: pointer;
  }

.swiper-pagination-bullet::before,
  .swiper-pagination-bullet-active::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 11.625rem;
  height: 4.25rem;
  background: url(../img/btn_swiper_bg.png) no-repeat center / contain;
  transform: translate(-50%, -50%);
  }

.swiper-pagination-bullet-active {
  font-weight: 700;
  color: var(--main-white);
  }

.swiper-pagination-bullet-active:nth-child(1)::before { background-image: url(../img/btn_swiper_yellow.svg); }
.swiper-pagination-bullet-active:nth-child(2)::before { background-image: url(../img/btn_swiper_pink.svg); }
.swiper-pagination-bullet-active:nth-child(3)::before { background-image: url(../img/btn_swiper_purple.svg); }
.swiper-pagination-bullet-active:nth-child(4)::before { background-image: url(../img/btn_swiper_green.svg); }

.swiper_wrap > .swiper-button-prev,
  .swiper_wrap > .swiper-button-next {
  top: 55%;
  z-index: 30;
  transform: translateY(-50%);
  }

.swiper_wrap > .swiper-button-prev {
  content: "";
  display: block;
  left: -6.875rem;
  width: 4.375rem;
  height: 4.375rem;
  background: url(../img/btn_swiper_prev.png) no-repeat center / contain;
  }
.swiper_wrap > .swiper-button-next {
  content: "";
  display: block;
  right: -6.875rem;
  width: 4.375rem;
  height: 4.375rem;
  background: url(../img/btn_swiper_next.png) no-repeat center / contain;
  }

.swiper-button-next, .swiper-button-prev {
  ::slotted(svg), svg {
      display: none;
  }
}

/* section5 */
.content_apply {
  padding: 7.5rem 0;
  text-align: center;
  background: url(../img/bg_content_05.png) center top / cover no-repeat;
  }
.content_apply > h2 {
  width: 62.25rem;
  text-align: center;
  }


.content_apply a[role="button"] {
  position: relative;
  margin-top: 5.875rem;
  padding: 2.5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-white);
  background: var(--main-brown);
  border: .1875rem solid #ffffff30;
  border-radius: 6.25rem;
  }
.content_apply a[role="button"]::before {
  content: "";
  display: block;
  position: absolute;
  bottom: .625rem;
  left: 2.0625rem;
  width: 14.625rem;
  height: 10.25rem;
  background: url(../img/img_laptop.png) no-repeat center / contain;
  }
.content_apply a[role="button"]::after {
  content: "";
  display: block;
  position: absolute;
  top: 5rem;
  right: 5.5rem;
  width: 4.875rem;
  height: 4.75rem;
  background: url(../img/img_finger.png) no-repeat center / contain;
  }

.content_notice {
  padding: 3.75rem 0 4.75rem;
  background: #848484;
  }

.content_notice {
  color: var(--main-white);
  }
.notice_title {
  position: relative;
  padding-left: 3.375rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-white);
  }

.notice_title::before {
  content: "";
  display: block;
  position:absolute;
  top: 0;
  left: 0;
  width: 2.6875rem;
  height: 2.6875rem;
  background: url(../img/ico_notice.svg) no-repeat center / contain;
  }

.notice_title + .list_title {margin-top: 2.5rem;}
.list_title {
  font-size: 1.375rem;
  line-height: 1.4;
  }
.content ul.dash_list li {
  position: relative;
  padding-left: 1rem;
  font-size: 1.375rem;
  line-height: 1.4;
  }
.content ul.dash_list li::before {
  content: "-";
  display: inline-block;
  position: absolute;
  top: -.125rem;
  left: 0;
  }

.content .check_list_box {
  margin-top: 2.6875rem;
  margin-left: 5.8125rem;
  }
.content .check_list_box ul.check_list li {
  position: relative;
  padding-left: 2.125rem;
  font-size: 1.5rem;
  text-align: left;
  color: #4d4d4d;
  }
.content .check_list_box ul.check_list li + li {
  margin-top: .875rem;
  }
.content .check_list_box ul.check_list li::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/ico_check.png) center top / contain no-repeat;
  }


footer {
  width: 100%;
  padding: 3.125rem 0;
  font-size: .875rem;
  color: #ccc;
  background-color: #222;
  }

.footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  }

.footer_inner .footer_logo img {
  width: 7.5rem;
  height: auto;
  }

.footer_inner .footer_info {
  flex: 1;
  margin: 0 3.75rem;

  }
.footer_address {
  font-style: normal;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.5;
}

.footer_address p {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.footer_address span {
  display: inline-flex;
  align-items: center;
}

.footer_address span + span::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0.625rem;
  background-color: #999999;
  margin: 0 0.75rem;
}

.footer_address a {
  color: inherit;
  text-decoration: none;
}
.footer_inner .copyright {
  margin-top: 1rem;
  color: #666;
  }

.footer_links {
  display: flex;
  gap: 1.25rem;
  margin-bottom: .75rem;
  }

.footer_links a {
  color: #ddd;
  }

.footer_sns_list {
  display: flex;
  gap: 1rem;
  }

.footer_sns_list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--main-white);
  border-radius: 50%;
  transition: all .3s ease;
  }

.footer_sns_list a i {
  font-size: 2rem;
  }
.footer_sns_list a:hover {
  background-color: var(--main-brown);
  transform: translateY(-3px);
  }

/* 기타 클래스 */
.btn_box {text-align: center;}
.bul_text {font-size: 1rem; color: #666;}

.w378 {width: 23.625rem !important;}
