@charset 'utf-8';

html {
  font-size: 16px;
  }

@media (max-width: 1200px) {
  html {
    font-size: calc(100vw / 1200 * 16);
    }
  }

.ico_arrow {
  position: relative;
  padding-right: 3.75rem;
  }
.ico_arrow::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 2.6875rem;
  height: 1.5rem;
  background: url(../img/img_arrow.png) center top / contain no-repeat;
  }

.top-banner {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  max-height: 4.375rem;
  font-weight: bold;
  color: white;
  background-color: var(--main-pink);
  }
.top-banner a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: var(--content-width);
  margin: 0 auto;
  padding: .875rem 0;
  font-family: 'Jalnan2';
  }
.top-banner a .tag {
  position: relative;
  height: 2.625rem;
  padding: .5625rem 1.25rem .5625rem 2.5rem;
  font-size: 1.5rem;
  color: var(--main-pink);
  background: var(--main-yellow);
  border-radius: 2.5rem;
  }
.top-banner a .tag::before {
  content: '';
  display: block;
  position: absolute;
  top: -1.25rem;
  left: -1.5rem;
  width: 4.5rem;
  height: 4rem;
  background: url('../img/img_siren.png') no-repeat center / cover;
  }
.top-banner a .banner-text {
  font-size: 1.75rem;
  }
.top-banner a .highlight {
  color: var(--main-yellow);
  }

.navi {
  position: fixed;
  top: 16.5rem;
  right: 5.75rem;
  z-index: 99;
  }
.navi::after {
  content: '';
  display: block;
  position: absolute;
  top: -3.5rem;
  left: 1rem;
  z-index: -1;
  width: 6.625rem;
  height: 4.625rem;
  background: url(../img/ch_01.png) center top / contain no-repeat;
  }
.navi ul {
  background: var(--main-white);
  border-radius: 1.25rem;
  }
.navi ul li a {
  padding: 1.375rem;
  letter-spacing: -2%;
  text-align: center;
  }
.navi ul li:last-child {
  background: var(--main-brown);
  border-radius: 0 0 1.25rem 1.25rem;
  }
.navi ul li:last-child a {
  padding: .625rem 0;
  }
.navi ul li:last-child a .top_btn {
  width: 3rem;
  }

main {
  padding-top: 4.375rem;
  }

section .content {
  width: var(--content-width);
  margin: 0 auto;
  }

section.main_top {
  position: relative;
  }
section.main_top .content img.title {
  position: absolute;
  top: 4.625rem;
  left: 36.875rem;
  width: 45.375rem;
  height: auto;
  }

header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  }
header .content {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  }
header .header_right {
  display: flex;
  align-items: center;
  }
header .header_right .btn_login {
  margin-right: 1.5rem;
  padding: .625rem 1.25rem;
  font-size: 1rem;
  font-weight: 900;
  color: #000;
  border: 0.125rem solid #000;
  border-radius: 6.25rem;
  }
header .content .logo_choco { width: 4.25rem; }
header .content .logo_miraen { width: 6rem; }

.event_banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  }
.event_banner .event_banner_text {
  margin-right: 3.0625rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-white);
  }
.event_banner::before,
.event_banner::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  z-index: -1;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(-50%);
  }
.event_banner::before {
  bottom: -1.75rem;
  left: 46%;
  width: 30.75rem;
  height: 13.625rem;
  background-image: url(../img/img_flower.png);
  }
.event_banner::after {
  bottom: -3.125rem;
  width: 38.375rem;
  height: 35rem;
  background-image: url(../img/ch.gif);
  }

img.img_firstserve {
  position: absolute;
  top: -2.5rem;
  left: 2.8125rem;
  width: 14.0625rem;
  height: auto;
  }

.event_title {
  display: flex;
  align-items: center;
  padding: .9375rem 0 .9375rem 18.9375rem;
  background: var(--chocopop_brown01);
  border: 0.0625rem solid var(--chocopop_brown02);
  border-radius: 1.875rem 1.875rem 0 0;
  }

.event_info {
  position: absolute;
  bottom: -11.25rem;
  z-index: -1;
  width: var(--content-width);
  height: 15.1875rem;
  background: url(../img/img_paper.png) center top / contain no-repeat;
  }
.event_info ul {
  display: flex;
  gap: 10rem;
  margin: 4.5rem 0 0 4.6875rem;
  }
.event_info li {
  text-align: center;
  color: #333;
  }
.event_info li h3,
.event_info li p {
  line-height: 150%;
  }
.event_info li h3 {
  margin-bottom: .375rem;
  font-size: 2rem;
  }
.event_info li p {
  font-size: 1.375rem;
  }
.event_info .event_desc {
  margin-top: 3.75rem;
  font-size: 1.25rem;
  text-align: center;
  }

.event_banner_link {
  display: inline-flex;
  align-items: center;
  padding: .5rem 1.5rem .5rem 1.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-white);
  background: var(--chocopop_pink03);
  border: .1875rem solid var(--main-white);
  border-radius: 3.125rem;
  }

section .content_title {
  text-align: center;
  }
section .content_title .content_desc {
  margin-top: .625rem;
  font-size: 1.875rem;
  }

section .animate_box {
  position: relative;
  z-index: 0;
  width: 64.375rem;
  margin: 4.375rem auto 0;
  }
section .animate_box::before {
  content: '';
  display: block;
  position: absolute;
  top: -4.25rem;
  left: 50%;
  z-index: -1;
  width: 49.6875rem;
  height: 34.125rem;
  background: url(../img/img_newspaper_bg.png) center top / contain no-repeat;
  transform: translateX(-50%);
  }
section .animate_box .img_card_01 > img { width: 32.5rem; }
section .animate_box .img_card_02 > img {
  width: 34.375rem;
  margin-top: -7.5rem;
  }
section .animate_box .img_card_03 > img {
  width: 32.5rem;
  margin-top: -7.5rem;
  margin-right: 4.375rem;
  }
section .animate_box > div:nth-child(odd) { text-align: right; }
section .animate_box > div:nth-child(even) { text-align: left; }

section.content_survey {
  padding: 18.625rem 0 8rem;
  background-color: #b0eeaf;
  }
section.content_survey .img_bubble {
  width: 16.4375rem;
  height: auto;
  margin-bottom: .375rem;
  }
section.content_survey .img_title02 {
  width: 69.75rem;
  height: auto;
  }
section.content_survey .survey_box {
  position: relative;
  margin-top: 1.875rem;
  padding: 5rem 3.75rem;
  background: var(--main-white);
  border: 1.5px solid #333;
  }

.survey_box::before {
  content: '';
  display: block;
  position: absolute;
  top: -11.25rem;
  right: 1.25rem;
  z-index: 1;
  width: 19.375rem;
  height: 15.4375rem;
  background: url(../img/ch_02.png) center top / contain no-repeat;
  }
.survey_box .survey_group {
  margin-bottom: 2.75rem;
  padding-bottom: 2.75rem;

  border-bottom: 0.0625rem solid #9e9e9e;
  }
.survey_box .survey_group:last-child {
  margin-bottom: 0;
  padding-bottom: 0;

  border-bottom: none;
  }
.survey_box .survey_group .survey_title {
  margin-bottom: 2rem;
  font-family: 'GmarketSans';
  font-size: 2rem;
  font-weight: 700;
  }

.survey_desc {
  font-family: 'pretendard';
  font-size: 1.25rem;
  font-weight: 400;
  }
.survey_desc02 {
  font-family: 'pretendard';
  font-size: 1.5rem;
  font-weight: 400;
  }

.survey_group .check_list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 52.5rem;
  }
.survey_group .check_list .check_item input[type='checkbox'],
.radio_list .radio_item input[type='radio'] {
  display: none;
  }
.survey_group .check_list .check_item {
  display: inline-block;
  cursor: pointer;
  }

.check_list .check_item span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12.375rem;
  padding: .625rem 0;
  font-size: 1.5rem;
  color: #333;
  background-color: #fff;
  border: 0.0625rem solid #666;
  border-radius: 1.5rem;
  transition: all .2s ease;
  }
.check_list .check_item input[type='checkbox']:checked + span {
  font-weight: bold;
  color: #02a39f;
  border-color: #02a39f;
  }

.radio_list {
  display: flex;
  }
.radio_list .radio_item {
  position: relative;
  margin-right: 1.5rem;
  padding-left: 2rem;
  cursor: pointer;
  }
.radio_list .radio_item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 50%;
  }
.radio_list .radio_item input[type='radio']:checked + span::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/ico_checkbox.png) center top / contain no-repeat;
  }
.radio_list .radio_item span {
  font-size: 1.5rem;
  color: #333;
  }

.content_video {
  width: 100%;
  background: #fdd7e3;
  }

footer {
  padding: 3.75rem 0 4.75rem;
  background-color: #848484;
  }
footer .content {
  width: var(--content-width);
  margin: 0 auto;
  color: var(--main-white);
  }
footer .content p,
footer .content ul li {
  font-size: 1.375rem;
  }
footer .content ul.dash_list li {
  position: relative;
  padding-left: 1rem;
  }
footer .content ul.dash_list li::before {
  content: '-';
  display: inline-block;
  position: absolute;
  top: -0.125rem;
  left: 0;
  }

.highlight_pink {
  color: var(--chocopop_pink03);
  }