@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
  }
body {
  font-family: "Pretendard";
  line-height: 1;
  color: #111;

  -webkit-text-size-adjust: 100%; /* 크롬, 사파리 등 모바일 브라우저 표준 */
  text-size-adjust: 100%;
  }
ol, ul, li {
  list-style: none;
  }
fieldset {
  border: none;
  }
blockquote, q {
  quotes: none;
  }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  }
a {
  display: block;
  text-decoration: none;
  color: inherit;
  }
img {
  width: 100%;

  vertical-align: top;
  }

button {
  background: none;
  border: none;
  cursor: pointer;
  }